.ios, .md
{
  page-home
   {
      ion-title
      {
        background-color: #899e94;
        text-align: center;
      }
      .toolbar-background-md
      {
        background-color: #899e94;
      }
      .button-add
      {
        color: black;
      }
      ion-content
      {
        background-color: #10cc8d;
      }
      ion-list-header
      {
        text-align: center;
      }
      .button-details
      {
        background-color: #7e7e7e;
        width: 96%;
        margin: 10px 2%;
        padding: 2px;
        -webkit-box-shadow: -11px 8px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 8px 17px 0px rgba(0,0,0,0.75);
        box-shadow: -11px 8px 17px 0px rgba(0,0,0,0.75);
       }






  }
}
